<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmnls="http://www.w3.org/1999/html">

<header>
    <nav class="main-nav">

        <div class="nav-wrapper">

            <ul class="nav" role="list">
                <li class="nav-element"><a class="nav-item" href="#">Helmets</a>
                    <div class="sub-menu helmets">
                        <ul role="list">
                            <li><a href="#">Full Face</a></li>
                            <li><a href="#">Open Face</a></li>
                            <li><a href="#">Motocross</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-element"><a class="nav-item" href="#">Jackets</a>
                    <div class="sub-menu jackets">
                        <ul role="list">
                            <li><a href="#">Summer Jackets</a></li>
                            <li><a href="#">Winter Jackets</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-element"><a class="nav-item" href="#">Gloves</a>
                    <div class="sub-menu gloves">
                        <ul role="list">
                            <li><a href="#">Summer Gloves</a></li>
                            <li><a href="#">Winter Gloves</a></li>
                            <li><a href="#">Heated Gloves</a></li>
                            <li><a href="#">Motocross Gloves</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-element"><a class="nav-item" href="#">Pants</a>
                    <div class="sub-menu gloves">
                        <ul role="list">
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Leather</a></li>
                            <li><a href="#">Motocross</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-element"><a class="nav-item" href="#">Boots</a>
                    <div class="sub-menu gloves">
                        <ul role="list">
                            <li><a href="#">Urban & Casual</a></li>
                            <li><a href="#">Sports Boots</a></li>
                            <li><a href="#">Motocross Boots</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

            <ul class="login-cart" role="list">
                <li><a href="#"><i class="fa-solid fa-user-large"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>


        </div>

    </nav>
</header>

<body>

</body>

</html>